
.TabelaEmpresas {
    border-collapse: collapse;
    box-sizing: content-box;

    position: absolute;
    width: 1150px;
    height: 39px;
    left: 20px;
    right: 20px;
    top: 243px;
    bottom: 0px;

    background: #FFFFFF;
    border: 2px solid #7D0711;
    align-content: center;
}

.conteúdotabelacolunas {
    font-size: 30px;
    line-height: 42px;

    color: #FFFFFF;
    background: #B00B18;
    text-align: center;
    border: 1px solid #B00B18;
}

.conteúdolinhas {
    border: 1px solid #7D0711;
    text-align: center;
}

.linhas {
    border: 1px solid #7D0711;
    text-align: center;
    width: auto;
}

.conteúdotabela {
    margin: auto;
    font-size: 22px;
    line-height: 42px;

    color: #014263;
    text-align: center;
    border: 1px solid #7D0711;
    text-align: center;
}

.nometabela {
    margin: auto;
    position: absolute;
    width: 1152px;
    height: 80px;
    left: 20px;
    right: 20px;
    top: 188px;

    font-size: 45px;
    line-height: 47px;
    text-align: center;

    color: #FFFFFF;
    background-color: #B00B18;
    box-sizing: inherit;
    border: 3px solid #7D0711;
}

.acessardescriçãobotão {
    position: absolute;
    width: 194px;
    height: 40px;
    left: 760px;
    top: 1450px;

    background: #014263;
    border-radius: 5px;
    border: none;
}

.editarbotão {
    position: absolute;
    width: 194px;
    height: 40px;
    left: 978px;
    top: 1450px;

    background: #014263;
    border-radius: 5px;
    border: none;
}

.excluirbotão {
    position: absolute;
    width: 194px;
    height: 40px;
    left: 1206px;
    top: 1450px;

    background: #7D0711;
    border-radius: 5px;
    border: none;
}

.escritabotão {
    margin: auto;
    position: relative;
    width: 190px;
    height: 26px;


    font-size: 20px;
    line-height: 26px;

    text-align: center;

    color: #FFFFFF;
}

.rodapéConteúdo {
    margin: none;
    position: absolute;
    width: 1450px;
    height: 200px;
    left: 0px;
    top: 1500px;
    padding-left: 20px;


    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    background: #7D0711;
    border: none;
}