.CadastroVagas {
    position: absolute;
    width: 1002px;
    height: 772px;
    left: 140px;
    top: 116px;

    background-color: #F1F1F1;
    border-radius: 50px;
    border: none;

    line-height: 30px;
    font-size: 22px;
    text-align: center;
    color: #014263;
}

.publicar{
    height: 70px;
    width: 150px;
    background-color: #B00B18;
    color: #FFFFFF;
    font-size: 22px;
    position: absolute;
    left: 565px;
    top: 770px;
    border: none;
    border-radius: 15px;
}

.rodapéConteúdo {
    margin: none;
    position: absolute;
    width: 1450px;
    height: 200px;
    left: 0px;
    top: 1000px;
    padding-left: 20px;


    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    background: #7D0711;
    border: none;
}
