    .ConheçaComunidade {
        position: absolute;
        width: 640px;
        height: 307px;
        left: 20px;
        top: 120px;


        font-size: 38px;
        line-height: 100px;
        text-align: center;

        color: #014263;
    }

    .BotaoVagas {
        position: absolute;
        width: 356px;
        height: 83px;
        left: 150px;
        top: 490px;

        background: #B00B18;
        border-radius: 25px;
        border: none;
    }

    .vagas {
        margin: auto;


        font-size: 40px;
        line-height: 47px;

        color: #FFFFFF;
    }

    .imagemhome1 {
        position: absolute;
        width: 600px;
        height: 500px;
        left: 650px;
        top: 120px;
        bottom: 550px;
    }

    .TextoComunidade {
        position: absolute;
        width: 100%;
        bottom: 60px;
        height: 265px;
        left: 0px;
        top: 750px;
        padding-left: 40px;
    
        background-color: #B00B18;
        border: none;

        font-size: 33px;
        line-height: 42px;

        color: #FFFFFF;
    }

    .BotãoInscrever {
        position: absolute;
        width: 445px;
        height: 70px;
        left: 911px;
        top: 842px;

        background: #014263;
        border-radius: 40px;
        border: none;
    }

    .AlunoInscrever {
        margin: auto;
        position: relative;
        width: 380px;
        height: 30px;


        font-size: 26px;
        line-height: 30px;

        color: #FFFFFF;
    }

    .Sobre {
        position: absolute;
        width: 477px;
        height: 117px;
        left: 40px;
        top: 1066px;


        font-size: 40px;
        line-height: 150px;

        color: #014263;
    }

    .SobreNós {
        position: absolute;
        width: 500px;
        height: 187px;
        left: 40px;
        top: 1220px;


        font-size: 20px;
        line-height: 30px;

        color: #B00B18;
    }

    .imagemhome2 {
        position: absolute;
        width: 1000px;
        height: 600px;
        left: 534px;
        top: 1200px;
    }

    .AcesseFATEC {
        position: absolute;
        width: 550px;
        height: 83px;
        left: 50px;
        top: 1770px;

        background: #014263;
        border-radius: 30px;
        border: none;
    }

    .FATEC {
        margin: auto;
        position: relative;
        width: 500px;
        height: 35px;


        font-size: 30px;
        line-height: 35px;

        color: #FFFFFF;
    }

