@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.topnav {
    background-color: #EBEBEB;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FC0F23;
}

.topnav>.titulo {
    float: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #B00B18;
    margin-left: 2%;
}

.botaoEntrar {
    float: right;
    width: 85px;
    height: 45px;
    border: 3px solid #FC0F23;
    border-radius: 50px;
}

.botaoEntrarTexto {
    width: 43px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FC0F23;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.linha {
    padding: 0 50px;
    float: right;
    width: 20px;
    height: 0px;
    border: 1px solid #B00B18;
    transform: rotate(90deg);
}

.rodapéConteúdo {
    margin: none;
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0px;
    top: 2000px;
    padding-left: 20px;


    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    background: #7D0711;
    border: none;
}

a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


a:active {
    text-decoration: none;
}

.perfil {
    float: right;
    width: 40px;
    height: 41px;
}