.conteudo {
    width: 1129px;
    height: 694px;
    margin: 0 auto;
    background: #EBEBEB;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}

/* Flex Container */
.container {
    margin: 2%;
    display: flex;
}

/* Flex */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-item-1 {
    flex: 1;
}

/* Flex Item */
.vagaCompleta {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    flex: 1;
    width: 527px;
    height: 825px;
    background: #FFFFFF;
    box-shadow: 4px 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
    display: flex;
}

.itemAtivo {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    flex: 1;
    width: 870px;
    height: 178px;
    background: #EBEBEB;
    border-radius: 59px;
    box-shadow: 4px 6px 6px 4px rgba(0, 0, 0, 0.25);
    margin: 1%;
}

.cidadeVagaLista {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.itemDesativado {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    flex: 1;
    width: 870px;
    height: 178px;
    background: #FFF;
    border-radius: 59px;
    box-shadow: 4px 6px 6px 4px rgba(0, 0, 0, 0.25);
    margin: 1%;
}

.nomeempresa {
    margin: 1% auto;
    margin-left: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}

.cidade {
    margin: 1% auto;
    float: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-right: 15px;
 

    color: #7D0711;
}

.tituloVaga {
    margin-left: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    color: #B00B18;
}

.tituloVagaLista {
    margin-left: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 41px;
    color: #B00B18;
}

.empresaVaga {
    flex: 1;
    margin-left: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.nomealuno {
    flex: 1;
    width: 400px;
    margin-left: 2%;
    margin-top: 1%;
    font-family: 'Roboto';
    line-height: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #B00B18;
    background-size: 1200px;
}

.RA {
    flex: 1;
    margin-left: 2%;
    margin-top: 1%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    font-size: 30px;
    line-height: 28px;
    color: #B00B18;
}

.texto{
    background-color: #F1F1F1;
    width: 600px;
    line-height: 40px;
}

.linhaVagaLista {
    border: 1px solid #A8A8A8;
    width: 770px;
}

.descricaoVagaLista {
    width: 800px;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.localVaga {
    flex: 1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.logoPequena {
    margin: 20px;
    width: 60px;
    height: 60px;
}

.titulo {
    height: 40%;
}

.iconeperfil {
    margin: 5px;

}

.linhaForm {
    border: 1px solid #A8A8A8;
    width: 770px;
    height: 0px;
}

.nivelExperienciaTitulo {
    margin: 1% auto;
    text-align: left;
    margin-left: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.botaoCandidatar {
    margin: 10% auto;
    width: 229px;
    height: 51.6px;
    background: #B00B18;
    border-radius: 54px;
    border: none;
    cursor: pointer;
}

.botaoCandidatar:hover {
    background-color: #7D0711;
}

.botaoCandidatar:active {
    position: relative;
    top: 1px;
}

.botaoCandidatarTexto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.descricao {
    text-align: left;
    margin-left: 5%;
    height: 400px;
    width: 378px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.logoVerificado {
    margin: 30px;
    width: 45px;
    height: 45px;
}

.logoVerificadoLista {
    margin: 25px 5px;
    width: 20px;
    height: 20px;
}

.vagaCompleta {
    margin: 0 auto;
    width: 1179px;
    height: 665px;
    background: #FFFFFF;
    box-shadow: 4px 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31px;
}

.botaoEditar {
    border: none;
    width: 70px;
    height: 30px;
    margin-left: 70%;
    margin-top: 1% ;
    margin-right: 1%;
    background: #014263;
    border-radius: 6px;
    cursor: pointer;
}

.botaoEditarExcluir{
    border: none;
    width: 70px;
    height: 30px;
    margin-left: 92%;
    margin-top: 1%;
    margin-bottom: 0%;
    background: #014263;
    border-radius: 6px;
    cursor: pointer;

}

.botaoEditarTexto {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;


    color: #FFFFFF;
}

.nomeEmpresa {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: #000000;
}

.curriculo {
    color: white;
    text-align: center;
    width: 1131px;
    height: 52px;
    border-radius: 4px;
}

.arquivocurriculo {
    width: 1131px;
    height: 169px;
    background: #F6F6F6;
    border-radius: 1px;
    padding-left: 5px;
}

.descricaoAlunoTexto {
    margin-top: 2%;
    width: 1090px;
    padding: 1%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}


.headAluno{
    margin: 0 auto;
    width: 1129px;
}

.vagasCadastradas{
    margin-top: 2% !important;
    border-radius: 5px;
    width: 1110px;
    height: 100px;
    margin: 0 auto;
    background: white;
}

.logoempresa{
    width: 5%;
    float: left;
}

.cadastronasvagas{
    background-color: #B00B18;
    width: 1129px;
    text-align: center;
    color: white;
    line-height: 50px;
}

.Curriculo{
    background-color: #B00B18;
    width: 1129px;
    text-align: center;
    color: white;
    line-height: 50px;
}

.botaocurriculo{
    border: none;
    background-color: #F1F1F1;
}

.curriculobotao{
    margin-left: 1%;
}